@import url(https://fonts.googleapis.com/css?family=Merriweather:300,400,400italic,300italic|Open+Sans:400,300,300italic,400italic,600italic,600,700,800&subset=latin,latin-ext);

@font-face {
	font-family: 'Taamey Frank CLM';
	src: url('../fonts/TaameyFrankCLM-Bold.eot');
	src: local('Taamey Frank CLM Bold'), local('TaameyFrankCLM-Bold'),
		url('../fonts/TaameyFrankCLM-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TaameyFrankCLM-Bold.woff2') format('woff2'),
		url('../fonts/TaameyFrankCLM-Bold.woff') format('woff'),
		url('../fonts/TaameyFrankCLM-Bold.ttf') format('truetype'),
		url('../fonts/TaameyFrankCLM-Bold.svg#TaameyFrankCLM-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Taamey Frank CLM';
	src: url('../fonts/TaameyFrankCLM-Medium.eot');
	src: local('Taamey Frank CLM Medium'), local('TaameyFrankCLM-Medium'),
		url('../fonts/TaameyFrankCLM-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TaameyFrankCLM-Medium.woff2') format('woff2'),
		url('../fonts/TaameyFrankCLM-Medium.woff') format('woff'),
		url('../fonts/TaameyFrankCLM-Medium.ttf') format('truetype'),
		url('../fonts/TaameyFrankCLM-Medium.svg#TaameyFrankCLM-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Taamey Frank CLM';
	src: url('../fonts/TaameyFrankCLM-MediumOblique.eot');
	src: local('Taamey Frank CLM MediumOblique'), local('TaameyFrankCLM-MediumOblique'),
		url('../fonts/TaameyFrankCLM-MediumOblique.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TaameyFrankCLM-MediumOblique.woff2') format('woff2'),
		url('../fonts/TaameyFrankCLM-MediumOblique.woff') format('woff'),
		url('../fonts/TaameyFrankCLM-MediumOblique.ttf') format('truetype'),
		url('../fonts/TaameyFrankCLM-MediumOblique.svg#TaameyFrankCLM-MediumOblique') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Taamey Frank CLM';
	src: url('../fonts/TaameyFrankCLM-Bold-Oblique.eot');
	src: local('Taamey Frank CLM BoldOblique'), local('TaameyFrankCLM-Bold-Oblique'),
		url('../fonts/TaameyFrankCLM-Bold-Oblique.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TaameyFrankCLM-Bold-Oblique.woff2') format('woff2'),
		url('../fonts/TaameyFrankCLM-Bold-Oblique.woff') format('woff'),
		url('../fonts/TaameyFrankCLM-Bold-Oblique.ttf') format('truetype'),
		url('../fonts/TaameyFrankCLM-Bold-Oblique.svg#TaameyFrankCLM-Bold-Oblique') format('svg');
	font-weight: bold;
	font-style: italic;
}

blockquote.textual,
.entry-content blockquote.textual {
	border: 0 solid #212e50;
	border-width: 0px;
	color: #212e50;
	line-height: 1.3;
	margin: 9px 10% 21px 10% !important;
	padding: 0px 0px 0px 0px;
	width: 80% !important;
	text-align: center;
}

blockquote.textual .text-english {
	display: block;
	font-size: 100%;
	font-style: normal;
	font-weight: 300;
	text-transform: none;
	font-family: Merriweather, Georgia, serif;
	line-height: 1.4;
}

blockquote.textual .hebrew-text {
	font-family: 'Taamey Frank CLM', 'Times New Roman', serif;
	font-size: 125%;
	font-weight: 500;
	display: block;
	padding-bottom: 10px;
	margin-top:12px;
	font-style: normal;
	line-height:1.6;
	direction: rtl;

}

blockquote em.translit {
	font-weight: 300;
	text-transform: none;
	font-family: Merriweather, Georgia, serif;
	font-size: 17px;
	font-style: italic;
	color: rgba(88, 67, 108, 0.8);
	padding-bottom: 4px;
	margin-bottom: 3px;
	line-height:1.6;
}

blockquote cite:before {
	content: "" !important;
}

blockquote cite.text-source,
blockquote cite.text-source a.sefaria-ref {
	color: #999;
	display: inline-block;
	font-family: proxima-nova, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 85%;
	height: auto;
	letter-spacing: 1px;
	line-height: 21px;
	text-align: center;
	visibility: visible;
	width: auto;
	display: inline-block;
	padding-bottom: 2px;
	font-weight: 300;
}

blockquote cite.text-source a.sefaria-ref:hover {
	color: #58436c;
	text-decoration: none;
	box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
	border-bottom: 1px dotted #f9f9f7;
	font-weight: 300;
}
